{% extends 'base.html.twig' %}

{% block title %}
    Home page
{% endblock %}

{% block body %}
    {% if app.user %}
        <li><a href="/logout">Logout</a></li>
    {% else %}
        <li><a href="/login">Login</a></li>
    {% endif %}
    <h1>Home</h1>
    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="{{ path('search_question') }}">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." name="s" aria-label="Search" value="{{ app.request.query.get('s') | default('') }}">
    </form>
    <a href="{{ path('app_product_create') }}" class="btn btn-primary">
            + Créer un produit
     </a>
    <section class="section-products">
		<div class="card-group">
    {% for product in products %}
            {% include 'home/partials/product.html.twig' %}
    {% endfor %}
        </div>


{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/{{ asset('css/style.css') }}">
{% endblock %}