{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <li><a href="{{ path('app_homepage') }}" class="nav-link px-2 text-secondary">Home</a></li>
    <div class="card" style="width: 20%;">
        {% for image in images %}
            <img src="{{ vich_uploader_asset(image, 'imageFile') }}">
        {% endfor %}


        <div class="card-body">

            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <a href="{{ path('app_product_show', {'slug': product.slug}) }}" class="btn btn-primary">
                Voir le produit
            </a>
            <small class="text-muted">{{ product.price|number_format(2) }}€</small>
            <div>
            {% for tag in tags %}
                <span class="badge rounded-pill bg-dark">{{ tag.libelle }}</span>
            {% endfor %}
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">Dernière mise à jour : {{ product.publishedAt|ago }}</small>
        </div>
        {% if app.user and app.user.id != product.sellerId.id %}

            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            <h5>Posez votre question</h5>
            <p>Titre</p>
            {{ form_row(form.name) }}
            <p>Contenu</p>
            {{ form_row(form.question) }}
            <button type="submit" class="btn btn-primary w-100">Envoyer</button>
            {{ form_end(form) }}

        {% elseif app.user.id == product.sellerId.id %}
            <a href="{{ path('app_product_edit', {'slug': product.slug}) }}" class="btn btn-primary">
                Editer le produit
            </a>
        {% endif %}

    </div>
    <div class="container">
        {% for question in questions %}
        <h5>{{ question.name }}</h5>
        <strong>{{ question.question }}</strong>
        <small class="text-muted">posée le : {{ question.askedAt|date }}</small>
        <h6>Réponses</h6>
            {% for answer in question.answers %}
                <p>{{ answer.username }} : <b>{{ answer.content }}</b></p>
                <small class="text-muted">{{ answer.createdAt|date }}</small>
            {% endfor %}
            {% if app.user.id == product.sellerId.id %}
                <form action="{{ path('app_answer', { slug: question.slug }) }}" method="post">
                    <input type="text" name="answer" class="input-text" placeholder="Réponse">
                    <button class="btn btn-primary btn-sm" name="send">Répondre</button>
                </form>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/vote_user.js') }}"></script>
{% endblock %}

