{% extends 'base.html.twig' %}

{% block title %}
    Home page
{% endblock %}

{% block body %}

    <h1>Home</h1>
    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="{{ path('search_question') }}">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." name="s" aria-label="Search" value="{{ app.request.query.get('s') | default('') }}">
    </form>
    {% for question in questions %}
    <a class="q-title" href="{{ path('app_show', { slug: question.slug }) }}"><h2>{{ question.name }}</h2></a>

    <div class="q-display p-3">
        <i class="fa fa-quote-left mr-3"></i>
        <p class="d-inline">
            {{ question.question }}
        </p>
        <p>Francis, <cite title="Source Title">{{ question.askedAt|ago }}</cite></p>
    </div>
    {% endfor %}

{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/{{ asset('css/style.css') }}">
{% endblock %}