{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    Question
{% endblock %}
{% block body %}

    <div class="container">
        <li><a href="{{ path('app_homepage') }}" class="nav-link px-2 text-secondary">Home</a></li>
        <h1>{{ question.name }}</h1>

        <figure>
            <blockquote class="blockquote">
                {{ question.question|markdown_cached }}
                <figcaption class="blockquote-footer">
                    Francis, <cite title="Source Title">{{ question.askedAt|ago }}</cite>
                </figcaption>
            </blockquote>
        </figure>
        <div class="col js-vote">
            <form action="{{ path('app_question_vote', { slug: question.slug }) }}" method="post">
                <button class="btn btn-success btn-sm" name="vote" value="up">Vote up</button>
                <button class="btn btn-warning btn-sm" name="vote" value="down">Vote down</button>
                <span class="badge rounded-pill bg-dark">{{ question.votes }}</span>
            </form>


        </div>

        <a href="{{ path('app_question_delete', { id: question.id }) }}" class="btn btn-danger my-5">Delete...</a>


        <div>
            <h3>Il y a {{ answers|length }} réponses</h3>
            <ul>
                {% for answer in answers %}
                    <li>Paul : {{ answer}}</li>

                {% endfor %}
            </ul>

        </div>

    </div>



{% endblock %}
